 body {
    margin: 0%;
    display: flex;
}

  .container {
    display: flex;
    flex-direction: row;
 }

  .box-1 {
    background-color: blue;
  }

  .item {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item-data {
    color: white;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .item-data h1 {
    margin-bottom: -10px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .box-1 i {
    font-size: 30px;
    color: white;
    width: 120px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: rgb(77, 77, 247);
    margin: 20px;
    border-radius: 5px;
  }
  
  .box-2 {
    margin: 80px 120px 20px 120px;
  }

  .heading-2 {
    color: blue;
    margin-top: -22px;
  }

  hr {
    width: 6%;
    margin-left: -5px;
    margin-bottom: 30px;
    margin-top: -10px;
  }

  .Form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="labName"],
  input[type="mobileNumber"],
  input[type="address"] {
    width: 91%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .name label {
    font-weight: bold;
  }

  .flexCreate {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin: 1%;
  }

  .flexCreate label {
    font-weight: bold;
  }

  .name-2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
  }

  input[type="yourName"],
  input[type="yourRole"],
  input[type="dailyReports-p"],
  input[type="dailyReports-R"] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .terms {
    display: flex;
    justify-content: space-between;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
  }

  .checkbox input {
    margin-bottom: auto;
  }

  .checkbox p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 18px;
  }

  span {
    color: blue;
  }
  
  button {
    margin-right: 10px;
    height: 50px;
    width: 200px;
    color: white;
    background-color: blue;
    font-size: 18px;
  }
  